@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: theme('colors.mint.500');
  --foreground: theme('colors.slate.800');
  --header-background: theme('colors.slate.100');
  --header-border: theme('colors.slate.300');
}
.dark {
  --background: theme('colors.slate.800');
  --foreground: theme('colors.slate.200');
  --header-background: theme('colors.slate.700');
  --header-border: theme('colors.slate.300');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --color-mint-100: oklch(0.95 0.05 178);
  --color-mint-200: oklch(0.85 0.08 178);
  --color-mint-300: oklch(0.78 0.10 178);
  --color-mint-400: oklch(0.74 0.11 178);
  --color-mint-500: oklch(0.72 0.11 178);
  --color-mint-600: oklch(0.65 0.12 178);
  --color-mint-700: oklch(0.58 0.13 178);
  --color-mint-800: oklch(0.50 0.14 178);
  --color-mint-900: oklch(0.42 0.15 178);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  min-width: 0;
  min-height: 0;
}
